* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Parallax */

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

/* Page Header */

.pageHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition:         transform 0.3s ease-out;
}

.pageHeader-fixed {
  position: fixed !important;
  top: -70px;
  background-color: #282828;
  border-bottom: 1px solid #212121;
  -webkit-transform: translateY(70px);
      -ms-transform: translateY(70px);
          transform: translateY(70px);
}

.pageHeader * {
  color: #f3a22d !important;
}

.pageHeader-navbar {
  overflow: auto;
  padding: 10px 16px;
  line-height: 45px;
}

.pageHeader-navbar .logo {
  float: left;
  width: 180px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.pageHeader-navbar .logo h1 {
  margin: 0;
}

.pageHeader-navbar .logo a {
  display: block;
  text-indent: -1000px;
  text-decoration: none;
  color: black;
}

.pageHeader-navbar .menu {
  float: right;
}

@media (max-width: 820px) {
  .pageHeader-navbar {
    padding-bottom: 0;
  }
  .pageHeader-navbar .logo {
    float: none;
    margin: 0 auto;
    background-position: center;
    line-height: 60px;
  }
  .pageHeader-navbar .menu {
    display: block;
    float: none;
    margin: 8px -16px 0 -16px;
    text-align: center;
    font-size: 14px;
  }
  .pageHeader-navbar .menu li {
    display: inline-block;
    float: none;
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* Page Section */

.pageSection {
  padding: 48px 8px;
}

@media (min-width: 480px) {
  .pageSection {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 720px) {
  .pageSection {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.pageSection-header {
  max-width: 960px;
  margin: 0 auto 36px auto;
  text-align: center;
}

.pageSection-header h2 {
  font-size: 40px;
  line-height: 48px;
}

.pageSection-header p {
  font-size: 20px;
  line-height: 40px;
  color: #999;
}

.pageSection.bg-dark .pageSection-header h2 {
  color: white;
}

.pageSection-header h2+p {
  margin-top: 24px;
}

.pageSection-content {
  font-size: 16px;
  line-height: 30px;
  color: #444;
}

.pageSection.bg-dark .pageSection-content {
  color: #ddd;
}

.pageSection-seperator {
  position: relative;
  top: 48px;
  max-width: 80%;
  min-height: 1px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #f0f2f0;
}

/* Main Section */

.mainSection {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.mainSection-bgVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(/videos/luster-story.png) no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.mainSection-bgVideo::-webkit-media-controls {
    display: none !important;
}

.mainSection-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 120px;
  background: rgba(40, 40, 40, 0.8);
  color: #ddd;
}

@media (max-width: 820px) {
  .mainSection-container {
    padding-top: 150px;
  }
}

.mainSection-title {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

@media (min-width: 480px) {
  .mainSection-title {
    font-size: 48px;
    line-height: 60px;
  }
}

.mainSection-content {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

/* About Section */

.aboutSection .pageSection-header {
  margin-bottom: 24px;
}

.aboutSection .pageSection-content p {
  max-width: 480px;
  margin: 0 auto;
}

/* Page Footer */

.pageFooter {
  overflow: auto;
  padding: 16px;
  border-top: 1px solid #575757;
}

.pageFooter .company.card {
  float: left;
  margin-bottom: 0px;
}

.pageFooter .company.card * {
  text-align: left;
}

.pageFooter .company.card .card-title {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.pageFooter .company.card .card-content {
  color: #575757;
  font-size: 13px;
  line-height: 18px;
}

.pageFooter .pageFooter-navbar {
  float: right;
}

.pageFooter-navbar .menu {
  padding: 8px;
}

.pageFooter-navbar .menu * {
  color: #f3a22d !important;
}

@media (max-width: 820px) {
  .pageFooter .company.card {
    float: none;
  }
  .pageFooter .company.card * {
    text-align: center;
  }
  .pageFooter .pageFooter-navbar {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .pageFooter-navbar .menu {
    display: block;
    float: none;
    margin: 8px -16px 0 -16px;
    text-align: center;
    font-size: 14px;
  }
  .pageFooter-navbar .menu li {
    display: inline-block;
    float: none;
    padding-left: 8px;
    padding-right: 8px;
  }
}

/* Menu */

.menu {
  margin-right: -16px;
}

.menu li {
  list-style: none;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
}

.menu li a {
  text-decoration: none;
  color: black;
}

/* Card */

.card {
  margin-bottom: 24px;
  padding: 8px;
  text-align: center;
}

.card-thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  border-radius: 50%;
}

.card-thumbnail img {
  display: block;
  position: absolute;
  left: -25%;
  height: 100%;
}

.card-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 36px;
}

.card-content {
  font-size: 16px;
  line-height: 30px;
}

/* Grid System */

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.row::before, .row::after {
  display: table;
  content: " ";
}

.row::after {
  clear: both;
}

.col-4, .col-6 {
  float: left;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 900px) {
  .col-4 {
    width: 33.33333333%;
  }
  .col-6 {
    width: 50%;
  }
}

/* Background */

.bg-dark {
  background-color: #282828 !important;
}

.bg-light {
  background-color: #f9f9fa !important;
}

/* Typography */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

/* Form */

label {
  padding: 8px 0;
  font-size: 14px;
  line-height: 24px;
}

input, textarea {
  background: white;
  padding: 8px;
  border: 1px solid #f0f2f0;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  color: #444;
  font-size: 14px;
  line-height: 20px;
}

input[type=submit] {
  background: #f3a22d;
  border: 0;
  color: white;
}

.input-group {
  width: 100%;
  overflow: auto;
  margin: 4px 0;
}

.input-group label {
  float: left;
  width: 25%;
  text-align: right;
  padding-right: 16px;
}

.input-group input, .input-group textarea {
  float: right;
  width: 75%;
}

.input-group input[type=submit] {
  display: block;
  float: none;
  max-width: 232px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.required::after {
  display: inline;
  color: #f3a22d;
  content: "＊";
}
